:root {
    /* 색 */
    --navy-color: #030a66;
    --white-color: #ffffff;
    --black-color: #0a0a0a;
  }
  .Career {
    margin-left:30px;
    padding-right: 20px;
    float:left;
    height: 1000px;
    
    
  }
  .Career-Menu {
    width: 150px;
    margin-top: 10px;
    
  }
  .Career-Main{
    height: 1000px;
    width: 80%;
    border:2px solid;
    margin-left:20px;
  }
  .Career-Write-Main{
    float:left;
    width: 800px;
  }
  .Career-Write {
    padding: 20px;
    padding-left: 30px;
}

.Career-Check {
  padding: 20px;
  padding-left: 30px;
}

#title_txt {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
}

#title_txt:focus { outline : none; }

#content_txt {
  padding: 30px;
  width: 91%;
  resize: none;
  border: none;
  height: 500px
}

#content_txt:focus { outline : none; }

.List {
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 500px;
}

.list_tit {
  padding-left: 30px;
  border-bottom: solid 1px #ababab;
  color : var(--navy-color);
  font-weight: bold;
}

.list_grid {
  display: grid;
  grid-template-columns: 10% 30% 15% 15%;
}

.list_data {
  padding-left: 30px;
  line-height: 50px;
}

.acenter {
  text-align: center;
}
.date_div {
  text-align: right;
  font-size: 14px;
  color: #ababab;
  margin-bottom: 10px;
  padding-right: 10px;
}

.top_title #title_txt {
  border: none;
  padding-bottom: 0px;
}

.top_title {
  border-bottom: solid 1px #ababab;
}

.Career-View {
  float:left;
  width: 800px;
  padding: 20px;
  padding-left: 30px;
}

.MuiInputAdornment-root>span.material-icons.MuiIcon-root {
  width:90px;
  font-size: 15px;
}

.MuiTableRow-root>span.material-icons.MuiIcon-root{
  padding-right: 2px;
}
.MuiIconButton-label>span.material-icons.MuiIcon-root{ 
  width: 90px;
  font-size: 15px;
  height: 20px;
}



.MuiButtonBase-root {
  width:100px;
  text-align: left;
}
.MuiButtonBase-root{
  padding: 50px;
}
