.ant-modal {
  width: 420px;
}
.ant-modal-title {
  text-align: center;
}
.ant-modal-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ant-modal-body button {
  width: 60%;
  margin: 10px auto;
  border: 1px solid gray !important;
  box-shadow: none !important;
}
.ant-modal-body span {
  text-align: center;
  width: 80%;
}
.ant-modal-body img {
  width: 60%;
  height: 50px;

  display: block;
  margin: 10px auto;
}
.ant-modal-body-revise {
  display: inline-block;
  position: relative;
  width: 1100px;
  left: 10%;
}
.ant-modal-body-revise-mobile {
  display: inline-block;
  position: relative;
  width: 100%;
  left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.ant-modal-footer {
  height: 50px;
}
.ant-modal-footer .ant-btn.ant-btn-primary {
  color: navy;
}
#signIn-kakao {
  display: inline-flex;
  padding: 0;
  /* width: 280px; */
  height: 45px;
  line-height: 44px;
  color: black;
  background-color: #ffeb00;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
#basic {
  border: 3px solid #8897cb;
  border-radius: 8px;
  margin: 0 10%;
  padding: 5%;
}
@media (max-width: 1400px) {
  #basic {
    margin-left: 0;
    margin-right: 20%;
  }
}
@media (max-width: 1280px) {
  .ant-modal-body-revise {
    margin-left: -5%;
    margin-right: 25%;
  }
}
/* @media (max-width: ) */
